<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.videoStudy.data.dao.QuestionStudyTimeLogMapper">
    <insert id="insert" parameterType="com.videoStudy.data.model.QuestionStudyTimeLog">
        INSERT INTO QuestionStudyTimeLog(qid, uid, time, date) VALUES (#{qid}, #{uid}, #{time}, #{date});
    </insert>
    <select id="getTimeCountByUid" resultType="java.lang.Integer">
        SELECT SUM(time) FROM QuestionStudyTimeLog WHERE uid = #{uid};
    </select>
    <select id="getQuestionStudyTIme" resultType="java.lang.Integer">
        SELECT SUM(time) FROM QuestionStudyTimeLog WHERE uid = #{uid} AND qid = #{qid};
    </select>
</mapper>